{% extends "polls/base.html" %}

{% block title %}
	{{title}}
{% endblock title %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <td width="256px">
				{% load static %}
				<img style='width: 256px;' he src="{% static 'polls/images/me.jpg' %}" alt="My image">
			</td>
            <td>
                <h1>Сейдазымов Адиль Канатович</h1>
				<p>Уральск, Республика Казахстан</p>
				<h3>Обо мне</h3>
				<p>Увлечение: программирование, воркаут, танцы, чтение</p>
				<p>Люблю решать олимпиадные задачи на сайте <a href="https://acmp.ru/">acmp.ru</a>. На данный момент решил 361 задачи.</p>
				<h3>Опыт в разработке</h3>
				<table cellspacing="0" cellpadding="0" class="borderless">
					<tr>
						<td>
							<p>Сентябрь 2020г – Май 2021г <br> (Первый курс Яндекс Лицея «Основы программирования на языке Python»)</p>
						</td>
						<td>
							<p>Познакомился с синтаксисом языка, основными понятиями и конструкциями (переменные, условия, циклы), овладел стандартными (math, sys, datetime) и внешними (PIL, numpy, tkinker) библиотеками, изучил основы объектно-ориентированного программирования (полиморфизм, наследование, инкапсуляция).</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Сентябрь 2021г – Май 2022г <br> (Второй курс Яндекс Лицея «Основы промышленного программирования»)</p>
						</td>
						<td>
							<p>Изучил методы работы с csv файлами, базами данных sqlite3, json файлами, архивами и так далее. Вдобавок, научился создававать оконные приложения на основе библиотек PyQt5, игры на pygame. Кроме того, благодаря библиотеке flask создавал веб-сайты.</p>
							<p>Ссылки на проекты, созданные на втором курсе: <br> <a href="https://github.com/Dzhuks/typing_test">Клавиатурный тренажер</a>, <a href="https://github.com/Dzhuks/Tower_Rush">Игра в жанре «защита башни» Tower Rush</a>, <a href="https://github.com/Dzhuks/virtualmap">Веб-сайт про географические особенности Акжаикского района</a></p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Май 2022г</p>
						</td>
						<td>
							<p>Шуточный бот для создание <a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B0%D0%B9%D0%BA%D1%83">хокку</a>.</p>
							<p>Ссылка на <a href="https://github.com/Dzhuks/Ru_Hokku_bot">бота</a></p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Сентябрь 2022г - Нынешнее время</p>
						</td>
						<td>
							<p>Создал телеграмм бота для ознакомления несовершеннолетних с их правами "JULA бот".</p>
							<p>Ссылка на <a href="https://github.com/Dzhuks/juwa-bot">бота</a></p>
						</td>
					</tr>
				</table>
            </td>
        </tr>
    </table>
{% endblock %}

{% block styles %}
	{{ block.super }}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% endblock styles %}